﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/ext-5.1.0/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/admin.css")">
    @Scripts.Render("~/bundles/modernizr")
    <script src="@Url.Content("~/Scripts/jquery-2.1.1.js")"></script>
    <script src="@Url.Content("~/Content/ext-5.1.0/ext-all-debug.js")"></script>
    <script src="@Url.Content("~/Content/ext-5.1.0/packages/ext-theme-crisp/build/ext-theme-crisp.js")"></script>
    @Scripts.Render("~/bundles/admin")

    <script>
        Ext.onReady(function () {
            Ext.tip.QuickTipManager.init();
            Ext.application({
                name: 'App',
                extend: 'Ext.app.Application',
                controllers: [
                    'Admin'
                ],
                autoCreateViewport: 'App.view.Viewport'
            });
        });
    </script>
</head>
<body>
</body>
</html>