﻿@using App.Domain.Entities.Navigation
@using App.Domain.Models.Tree
@model TreeNode<MenuItem>

@helper DisplayTree(TreeNode<MenuItem> root)
{
    foreach (var node in root.GetChildren())
    {
        <li @(node.Count() > 1 ? "class=dropdown" : "")>
            <a href="@node.Item.Link"@(node.Count() > 1 ? "data-toggle=dropdown" : "")>@node.Item.Id</a>

            @if (node.Count() > 1)
            {
            <ul class="dropdown-menu">
                @DisplayTree(node)
            </ul>
            }
        </li>
    }
}

<ul class="nav navbar-nav">
    @DisplayTree(Model)
</ul>
    