﻿.x-icon-refresh {
    background: url("./icons/arrow_refresh.png") no-repeat center center;
}
.x-icon-building, .x-grid-cell-inner .x-icon-world {
    background: url("./icons/world.png") no-repeat center center;
}
.x-icon-building, .x-grid-cell-inner .x-icon-building {
    background: url("./icons/building.png") no-repeat center center;
}
.x-icon-grid {
    background: url("./icons/table.png") no-repeat center center;
}
.x-icon-edit {
    background: url("./icons/pencil.png") no-repeat center center;
}
.x-icon-delete {
    background: url("./icons/delete.png") no-repeat center center;
}
.x-icon-error {
    background: url("./icons/exclamation.png") no-repeat center center;
}
.x-icon-cancel {
    background: url("./icons/cancel.png") no-repeat center center;
}
.x-icon-tick {
    background: url("./icons/tick.png") no-repeat center center;
}
.x-icon-add {
    background: url("./icons/add.png") no-repeat center center;
}

.app-header {
    background: #c6e388;
}
.app-header .logo {
    font-size: 14px;
    font-weight: bold;
}
