﻿body {
    background-color: #1C1C1C;
    color: #B9B9B9;
    font-size: 12px;
    font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-position: 50% 300px;
    background-repeat:no-repeat;
}


body.fixed-background {
    background-attachment: fixed;
    background-position: 50% 0%;
}

a:active
{
    outline: none;
}

a:focus
{
    outline: none;
    -moz-outline-style: none;
}

h3, h4, h5, h1, h2 {
    color: white;
}

h6 {
    text-align: center;
}

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#wrap > .container {
    overflow:auto;
	padding-bottom: 10px;
    padding-top: 325px;
    width: 960px;
}  /* must be same height as the footer */

.no-full-logo #wrap > .container {
    padding-top: 147px;
}

.footer {
    position: relative;
    margin-top: 0;
	/*margin-top: -98px;*/ /* negative value of footer height */
	/*height: 98px;*/
	clear:both;
}

.footer .footer-text {
    font-size: smaller;
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

.page-header {
    border-bottom: 0px solid white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.with-share-button {
    float: left;
}

.page-header a {
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
}

.top-navigation {
    padding: 6px 0;
    *height: 45px !important; /* ie 7 ;( */
}
.topbar h3 a:hover, .topbar .brand:hover, .topbar ul .active > a {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #000;
}

.top-navigation .container {
    white-space: nowrap;
}

.topbar {
    z-index: 100;
    min-width: 968px;
}

.topbar ul li > a {
    text-transform: uppercase;
    color: white;
    text-shadow:1px 1px 0px #333333;
}

.topbar div > ul, .nav {
    float: none;
    display: inline-block;
    margin: 0;
}

.topbar div > ul > li, .nav > li {
    text-align: left;
    display: inline-block;
}

.topbar .separator {
    height: 28px;
    float: left;
    padding: 0 10px;
    padding-top: 6px;
    background: url("../../images/new/top_separator.png") center right no-repeat;
}

.topbar .home-link {
    text-decoration: none;
    margin-top: 4px;
}

.topbar .home-link img {
    vertical-align: middle;
}

.topbar .container {
    text-align: center;
    line-height: 10px;
}

.topbar-inner, .topbar .fill {
    background-color: #050000;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#940000), to(#050000));
    background-image: -moz-linear-gradient(top, #940000, #050000);
    background-image: -ms-linear-gradient(top, #940000, #050000);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #940000), color-stop(100%, #050000));
    background-image: -webkit-linear-gradient(top, #940000, #050000);
    background-image: -o-linear-gradient(top, #940000, #050000);
    background-image: linear-gradient(top, #940000, #050000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#940000', endColorstr='#050000', GradientType=0);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    min-width: 955px;
    *height: 66px; /* ie 7 ;( */
}

.topbar .fill_logo {
    background-color: #ccc;
    background-repeat: repeat;
    min-width: 955px;
    background-image: url('../../images/new/top_background.png');
    background-image: url('../../images/new/top_background.png'), -khtml-gradient(linear, left top, left bottom, from(#000000), to(#3a3a3a));
    background-image: url('../../images/new/top_background.png'), -moz-linear-gradient(top, #000000, #3a3a3a);
    background-image: url('../../images/new/top_background.png'), -ms-linear-gradient(top, #000000, #3a3a3a);
    background-image: url('../../images/new/top_background.png'), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #3a3a3a));
    background-image: url('../../images/new/top_background.png'), -webkit-linear-gradient(top, #000000, #3a3a3a);
    background-image: url('../../images/new/top_background.png'), -o-linear-gradient(top, #000000, #3a3a3a);
    background-image: url('../../images/new/top_background.png'), linear-gradient(top, #000000, #3a3a3a);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#bf000000',GradientType=0 ); /* IE6-8 */
    -webkit-box-shadow: inset 0 -5px 4px rgba(0, 0, 0, 0.7);
    -moz-box-shadow:inset 0 -5px 4px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 -5px 4px rgba(0, 0, 0, 0.7);
}

.topbar .fill_logo .span16 {
    margin-left: 8px;
}

.footer {
    min-width: 968px;
    padding: 30px 0;
    min-height: 36px;
    -webkit-box-shadow: inset 0 5px 15px rgba(0,0,0,.25);
    -moz-box-shadow: inset 0 5px 15px rgba(0,0,0,.25);
}

.topbar form {
    float: right;
}

.topbar .user-info {
    color: #BFBFBF;
    text-align: right;
    line-height: 22px;
}

.topbar .attention {
    text-transform: uppercase;
}

.topbar .user-info a {
    color: #BFBFBF;
    text-decoration: none;
}

.topbar .user-info .username {
    color: #D60000;
}

.topbar ul.nav > li a:hover
{
    background-color: rgba(255, 255, 255, 0.05)
}

.button-style, .button-style-white {
    background: #940000; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzk0MDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNTAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #940000 1%, #050000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#940000), color-stop(100%,#050000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #940000 1%,#050000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #940000 1%,#050000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #940000 1%,#050000 100%); /* IE10+ */
    background: linear-gradient(top,  #940000 1%,#050000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#940000', endColorstr='#050000',GradientType=0 ); /* IE6-8 */

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #969696;
    padding: 3px 6px;
    display: inline-block;
    margin-bottom: 10px;
    text-transform: uppercase;
    border: 1px solid #8c0000;
    line-height: 150%;
    font-size: 14px;
    zoom:1;
    *display: inline;
    _height: 30px;
}

.button-style-white {
    color: white;
    font-size: 11px;
    padding: 6px;
}

.button-style-white a {
    color: white;
    text-decoration: none;
}

.button-style-white a:hover, .button-style a:hover {
    color: white;
}

.topbar .dropdown {
    font-size: 12px;
}

.topbar div > ul .menu-dropdown, .nav .menu-dropdown, .topbar div > ul .dropdown-menu, .nav .dropdown-menu {
    background-color: #222;
    filter: alpha(opacity=95);
    -khtml-opacity: 0.95;
    -moz-opacity: 0.95;
    opacity: 0.95;
    font-size: 11px;
}

.topbar {
    position: absolute;
    height: 45px;
}

input[type="password"], input[type="text"], input[type="email"], textarea, select {
    background-color: #9A9A9A;
    border: 1px solid #ADADAD;
    color: black;
}

label {
    color: #ADADAD;
    margin-right: 4px;
}
table td {
    vertical-align: top;
}

a {
    text-decoration: underline;
}

.actions {
    background-color: #3b3b3b;
    border: 1px solid #404040;
}

.profile-details .actions, .row-field .actions {
    padding: 7px 10px 8px 5px;
}

.right-contentwrap img {
    margin-bottom:10px;
    width: 200px;
    border:0;

}

.profile-img p {
    margin: 15px 0;
}

.profile-img img {

    width: 100%;

}

.profile-details {

    margin-left:120px;

}

.profile-details h1 {


    margin-bottom:5px;

}

.profile-details h3 {

    margin-bottom:5px;

}

.profile-details p {

    margin:0;

    padding:0;

}

.profile-details ul {

    padding-left:20px;

    margin:0;

    color:#707476;

}

.table-wrap {

    width:532px;

}

.table-wrap table {

    width:532px;

    margin-top:10px;

    font-size:12px;

}

.table-wrap table, .table-wrap tr, .table-wrap td {

    text-align:center;

}

.table-wrap table tr td a {

    color:#c18320;

    text-align:center;

}

td.td1 {width:134px;}

td.td2 {width:143px;}

td.td3 {width:85px;}

td.td4 {width:88px;}

td.td5 {width:73px;}

td.td1 {width:126px;}

td.ctd2 {width:66px;}

td.ctd3 {width:200px; padding:0 5px 0 5px;}

td.ctd4 {width:54px;}

td.ltd1 {width:133px; text-align:left; padding-left:10px}

td.ltd2 {width:393px; text-align:left; padding-left:10px}



.table-header {

    width:532px;

    height:27px;

    border-radius:5px;

    -moz-border-radius:5px;

    -webkit-border-radius:5px;

    display:block;

}

.table-header ul {

    list-style:none;

    margin:0;

    padding:0;

}

.table-header ul li {

    float:left;

    margin:0 10px 10px 0;

    text-align:center;

    font-weight:bolder;

    padding-top:2px;

}

li.sep {

    width:1px;

    height:27px;

    padding-top:0 !important;

}

.album-wrap {

    width:255px;

    height:100px;

    border:1px solid #353535;

    float:left;

    margin-right:5px;

}

.album-wrap img {

    border:1px #636463 solid;

    margin:7px 5px 0 7px;

    float:left;

}

.album-wrap h4 {

    padding:0;

    margin:10px 0 0 0;

}

.album-wrap p {

    font-size:10px;

    margin:0;

    padding:0;

}

.album-wrap h4 a {

    color:#fff;

    font-size:12px;

}

.photoThumb {

    margin:7px;
    float:left;
}

.photoThumb img {
    /*width: 135px;
    height: 95px;*/
    width: 128px;
    height: 128px;
}

.paginationNumbers {

    font-size: 16px;

    text-align: center;

}

.paginationNumbers a {

    margin:0 5px;

    text-decoration:none;

}

.paginationNumbers span {

    margin:0 5px;

    font-weight:bold;

}

.paginationNumbers a:hover {

    text-decoration:underline;

}



.jplayerWrapper {

    margin: 10px;

}

div.jp-audio {

    margin: 0 auto;

}



ul.groupsMenu {

    list-style:none;

    text-align: center;

    padding: 0;

    margin: 10px;

}



ul.groupsMenu li {

    display: inline;

}

.groupsbar {

    padding: 0;

    margin-bottom: 20px;

    width:532px;

    border-radius:10px;

    -moz-border-radius:10px;

    -webkit-border-radius:10px;

    height: auto;

}

#gallery a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border:#F2EEEB 2px solid;
    width: 77px;
    height: 77px;
}

#gallery a * {
    vertical-align: middle;
}

.app-button {
    padding: 4px 8px 8px;
    color: white;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.app-button  {
    color: white;
    text-decoration: none;
}

#personal-ads {
    margin-top: 20px;
    width: 110px;
    text-align: center;
}

#gallery {
    overflow: hidden;
    height: 1%;
    text-align: center;
}

#calendar {
    background: white;
    color: black;
    padding: 10px;
    width: 620px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
}

#calendar .fc-event-title {
    font-size: 10px;
}

#calendar .fc-event, #calendar .fc-event-draggable {
    cursor: pointer;
}

.video-interactive {
    background-color: black !important;
    color: white !important;
}
.video-interactive a {
    color: white !important;
}

.video-interactive-video .thumb {
    float: left;
    padding:  2px 0;
    margin: 0 5px;
    border: 1px solid #444;
}

.video-interactive-video .title {
    font-weight: bold;
    color: white !important;
}

.video-interactive-video .title a {
    text-decoration: none;
}

.video-interactive-video .center {
    text-align: center;
}

.video-interactive-video .share-button {
    clear: both;
}

.video-interactive-video .time {
    color: gray;
    background-color: black;
    padding: 3px !important;
    font-size: 10px !important;
    line-height: 120%;
    position: absolute;
    margin-left: -50px;
    margin-top: 50px;
}

.video-interactive-video .description {
    font-weight: normal;
    font-size: 14px;
    color: silver;
}

.video-interactive-video {
    padding: 5px;
}

.video-interactive {
    background-color: black;
}

.video-interactive-panel {
    background-color: black;
    color: #EEE;
    border-top: 1px solid #aaa;
    margin: 14px -10px -10px;
    height: 70px;
}

.video-interactive-panel .button {
    width: 160px;
    float: left;
    border-right: 1px solid #aaa;
    padding: 20px 10px 0;
    height: 50px;
    text-align: center;
}

.video-interactive-panel .button-last {
    border-right: none;
}

.video-interactive-panel .button a {
    padding: 20px 0 40px 70px;
    text-decoration: none;
}

.video-interactive-panel .button-share {
    background: transparent url("../../images/video-interactive-share.png") no-repeat;
}

.video-interactive-panel .button-rules {
    background: transparent url("../../images/video-interactive-rules.png") no-repeat;
}

.video-interactive-panel .button-upload {
    background: transparent url("../../images/video-interactive-upload.png") no-repeat;
}

.video-interactive .load-more {
    margin: 15px 10px;
}

.centerContent .ad_container, .centerContent .ad_container img {
    width: 520px !important;
    margin: 0 auto;
    height: 64px !important;
    border: none;
}

.rightpanel .ad_container, .rightpanel .ad_container img {
    width: 250px !important;
    margin: 0 0 5px 2px;
    height: 200px !important;
    border: none;
}

.user-edit-link a {
    color: #696969;
    font-size: 11px;
}

.user-edit-link {
    display: inline-block;
}

.loading {
    background: transparent url('../../images/loader.gif') no-repeat;
    width: 50px;
    height: 8px;
}


/* TOP NOTIFICATION */

.message
{
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    background-size: 40px 40px;
    background-image: -webkit-gradient(linear, left top, right bottom,
        color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
        color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
        color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
        to(transparent));
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
        transparent 75%, transparent);
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
        transparent 75%, transparent);
    background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
        transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
        transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
        transparent 75%, transparent);

    -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    width: 100%;
    border: 1px solid;
    color: #fff;
    padding: 15px;
    position: fixed;
    _position: absolute;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    -webkit-animation: animate-bg 5s linear infinite;
    -moz-animation: animate-bg 5s linear infinite;
    text-align: center;
    z-index: 100000;
}

.message-info
{
    background-color: #4ea5cd;
    border-color: #3b8eb5;
}

.message-error
{
    background-color: #de4343;
    border-color: #c43d3d;
}

.message-warning
{
    background-color: #eaaf51;
    border-color: #d99a36;
}

.message-success
{
    background-color: #61b832;
    border-color: #55a12c;
}

.message h3
{
    margin: 0 0 5px 0;
}

.message p
{
    margin: 0;
}

@-webkit-keyframes animate-bg
{
    from {
    background-position: 0 0;
}
to {
    background-position: -80px 0;
}
}


@-moz-keyframes animate-bg
{
    from {
    background-position: 0 0;
}
to {
    background-position: -80px 0;
}
}

.registration_form label {
    padding-right: 15px;
}

.registration_form textarea {
    width: 380px;
    height: 250px;
}

.registration_form input[type="text"] {
    width: 300px;
}

.registration_form input[type="text"].small {
    width: 130px;
}

.registration_form td {
    vertical-align: top;
}

div.error li {
    color: #FF6464;
}

div.error ul {
    list-style-type: none;
}

.registration .form_header {
    font-size: 11px;
    border-bottom: 2px solid gray;
    padding: 0 8px 6px;
    margin-bottom: 7px;
}

.registration h3 {
    margin: 0 6px;
}

.registration input[type="text"], .registration input[type="email"], .registration input[type="password"] {
    border: 1px solid #6a6a6a;
    font-size: 12px;
    padding: 4px;
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.2);
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.2);
    width: 300px;
}
.registration input[type="text"]:focus, .registration input[type="email"]:focus, .registration input[type="password"]:focus {
    border: 1px solid #679709;
    outline: none;
}

.registration label {
    padding: 0 5px;
    font-size: 12px;
}

.registration input[type="submit"] {
    padding: 4px 8px;
}

.registration td.terms {
    text-align: center;
}

.contact_us_form label {
    padding-right: 15px;
}
.contact_us_form textarea {
    width: 380px;
    height: 250px;
}
.contact_us_form input[type="text"] {
    width: 300px;
}

.contact_us_form td {
    vertical-align: top;
}

table tbody th {
  vertical-align: top;
}

.rightpanel {
    padding-left: 10px;
}

.right-separator {
    padding-left: 10px;
    margin-right: -12px;
}

.no-table-data {
    text-align: center;
}

.thumbnail-alone, .media-grid a {
    padding: 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.thumbnail-alone:hover,  .media-grid a:hover  {
    padding: 3px;
}

.pagination {
    margin: 0 auto;
}

.pagination a:hover, .pagination .active a {
    background-color: #FFF;
    -moz-opacity: 0.30;
    opacity: 0.30;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.pills .active a {
    background-color: transparent;
    font-weight: bold;
}

.pills a {
  text-shadow: none;
  background-color: transparent;
  padding: 0;
  line-height: 10px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}

.pills a:hover {
  background-color: transparent;
}


.pills li {
    margin: 0 5px;
}

.block-element td {
    border: none;
}

.block-element {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 5px 0;
}

.block-element th, .block-element td {
    padding: 4px 6px;
    line-height: 10px;
}

.block-element tr:first-child td {
    padding-top: 10px;
}

.block-element img {
	margin:5px;
    height: 50px;
    width: 40px;
    margin-top: -8px;
}

.profile-img {
    float:left;
    width:109px;
    height:215px;
    text-align: center;
}

.profile-img img {
    width: 100%;
}

.profile-details {
	margin-left:120px;
}

.profile-details p {
	margin:0;
	padding:0;
}

.profile-details ul {
	padding-left:20px;
	margin:0;
	color:#707476;
}


.slide-container {
    overflow: hidden;
    zoom: 1;height:1%;min-height:220px;
}

.span8 iframe,
.span8 .fluid-width-video-wrapper,
.span11 iframe,
.span11 .fluid-width-video-wrapper {
    max-width: 320px;
    max-height: 235px;
    clear: both;
    margin: 5px 0;
}

.no-fit-video iframe,
.no-fit-video .fluid-width-video-wrapper {
    max-width: none;
    max-height: none;
}

.content h2 {
    font-size: 18px;
}

.content h1 {
    font-size: 20px;
}

.content h3 {
    font-size: 14px;
}

.content h4 {
    font-size: 13px;
}

.topbar .btn, .topbar input {
    font-size: 11px;
    padding: 4px;
}
.topbar input {
   padding: 2px;
}

.topbar div > ul a, .nav a {
    padding: 6px 10px 7px;
}

.span-small {
    width: 180px;
}

.row > .offset-small {
  margin-left: 30px;
}


.coupon, .coupon div, .coupon p {
    text-align: center;
    color: white;
}

.coupon img {
    max-height: 180px;
    max-width: 180px;
}

table .span-2-half {
    width: 80px;
}

.fullpage-banner .slide-container {
    text-align: center;
    float: none;
    clear: both;
    overflow: auto;
    width: 460px;
    min-height: 100%;
    overflow: visible;
}

.fullpage-banner .slide-container img {
    width: 460px !important;
    min-width: 460px;
    max-width: 460px;
    height: 92px;
    max-height: 92px;
}

.homepage-block {
    margin: 15px 0;
    padding-bottom: 15px;
}

.homepage .fullpage-banner .slide-container {
    margin: 0 auto;
}

.span16 .fullpage-banner .slide-container, .fullpage-banner .slide-container {
    margin: 40px auto;
}

.homepage-block h1 {
    line-height: 20px;
}

.homepage-block .block-element img {
	margin: -8px 3px 3px;
    height: 45px;
    width: 35px;
}

.homepage-block .rosters_block {
	margin:5px 10px 0 10px;
    height: 40px;
    width: 40px;
}


.homepage-block .block-element th, .homepage-block .block-element td {
    padding: 1px 8px;
    font-size: 11px;
}

#facebook .button-style-white img, #twitter .button-style-white img {
    position: relative;
    margin: -14px 0 -14px -16px;
}

.homepage-block .right-contentwrap .slide-container {
    margin: 0 auto;
    width: 208px;
}

.homepage-block .right-contentwrap .slide-container a {
    height: 284px;
    display: block;
}

.homepage-block .right-contentwrap .slide-container a img {
    height: 100%;
    width: 100%;
}

.homepage-block .two-in-one-left-side {
    float: left;
    margin-right: 14px;
    width: 228px;
    max-width: 228px;
}

.homepage-block .two-in-one-left-side * {
    max-width: 228px;
}

.homepage-block .two-in-one-right-side {
    float: right;
}

.contentwrap p {
    font-size: 11px;
    line-height: 18px;
}

.additional_content {
    font-size: 11px;
    clear: both;
    padding-top: 10px;
}

.right_aligned {
    text-align: right;
}

.centered {
    text-align: center;
}

tr.centered td, tr.centered th {
    text-align: center;
}

tr.centered td:first-child {
    text-align: left;
}

.additional_content a {
    text-decoration: underline;
}

a.read-more, .emphasis {
    text-decoration: none;
    font-style: italic;
}

.interior-panel .slide-container a{
    display:block;
    height: 302px;
}

.interior-panel .slide-container img {
    width: 207px;
    height: 294px !important;
    border: 4px solid #71737A !important;
}

.interior-panel .button-style, .button-style-white {
    font-size: 12px;
    text-transform: none;
    letter-spacing:-1pt;
    font-weight: normal;
}

.pills-with-cover {
  background-color: black;
  padding-top: 5px;
  margin: 4px 0 14px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.pills-with-cover .active img {
    border: 2px solid white;
    padding: 1px;
    /* decrease the image size for border + padding */
    width: 59px;
    height: 59px;
}

.pills-with-cover .active a {
    color: white;
}

.pills-with-cover .media-grid {
    margin: 0 5px;
}
.pills-with-cover .media-grid li {
    text-align: center;
}

.pills-with-cover img {
    border: 2px solid transparent;
    width: 59px;
    height: 59px;
}

.pills-with-cover a {
    color: gray;
    text-decoration: none;
    width: 65px;
    word-break: break-all;
}

.pills-with-cover .media-grid a {
  float: left;
  padding: 4px;
  margin: 0 4px;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pills-with-cover .media-grid a img {
  display: block;
}
.pills-with-cover .media-grid a:hover {
  border-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.back-to-list {
    margin-top: 30px;
}


.subnav {
    margin-top: 15px;
}

.inputs-list-embed {
    padding-left: 0px !important;
}

.donate-btn {
    width:92px;
    height:26px;
    border:none;
}

.player-donation-message {
    border:none;
    font-style: italic;
}

ul.errorList, ul.errorList li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.errorList .alert-message {
    padding: 5px 10px;
    margin: 5px 0;
    display: inline-block
}

.alert-message a, .alert-message a:hover {
    color: inherit;
    font-weight: normal;
}

span.required {
    line-height: 24px;
    margin-left: 6px;
}

.checkbox-row label {
    float: none;
}

.btn.mini {
    padding: 4px 6px;
    font-size: 11px;
    text-decoration: none;
}

.slideshowWrapper .sponsor {
    height: 420px !important;
}

div.jp-audio div.jp-type-single div.jp-interface,
div.jp-audio div.jp-type-playlist div.jp-interface {
    height: 60px !important;
}

div.jp-audio div.jp-type-single a.jp-play,
div.jp-audio div.jp-type-single a.jp-pause,
div.jp-audio div.jp-type-playlist a.jp-play,
div.jp-audio div.jp-type-playlist a.jp-pause {
    top: 10px !important;
}

div.jp-audio div.jp-type-single a.jp-stop,
div.jp-audio div.jp-type-playlist a.jp-stop {
    top: 16px !important;
}

div.jp-audio div.jp-type-single div.jp-progress,
div.jp-audio div.jp-type-playlist div.jp-progress,
div.jp-audio div.jp-type-single a.jp-mute,
div.jp-audio div.jp-type-single a.jp-unmute,
div.jp-audio div.jp-type-playlist a.jp-mute,
div.jp-audio div.jp-type-playlist a.jp-unmute {
    top: 22px !important;
}

div.jp-audio div.jp-type-single div.jp-volume-bar,
div.jp-audio div.jp-type-playlist div.jp-volume-bar {
    top: 27px !important;
}

div.jp-audio div.jp-type-single div.jp-current-time,
div.jp-audio div.jp-type-single div.jp-duration,
div.jp-audio div.jp-type-playlist div.jp-current-time,
div.jp-audio div.jp-type-playlist div.jp-duration,
div.jp-audio div.jp-type-single div.jp-current-time,
div.jp-audio div.jp-type-single div.jp-duration,
div.jp-audio div.jp-type-playlist div.jp-current-time,
div.jp-audio div.jp-type-playlist div.jp-duration {
    top: 39px !important;
}


.photo-view img{
    max-width: 635px;
    display: block;
    margin: 0 auto;
}

.photo-caption {text-align: center;}
