﻿@model List<App.Domain.Entities.Row>

@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Use this area to provide additional information. You're at @ViewBag.Site.Domain</p>
        @foreach (var row in Model) {
            <table class="table">
                @foreach (var value in row.Values)
                {
                    <tr>
                        <td>@value.Field.Name</td>
                        <td>@value.Value</td>
                    </tr>
                }
            </table>
        }

            </div>
</div>